/* based off of https://github.com/luoliyan/chinese-support-redux */
.card {
  font-family: arial;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: white;
  word-wrap: break-word;
}
.container {
  text-align: center;
}
.win .chinese {
  font-family: "MS Mincho", "ＭＳ 明朝";
}
.linux .chinese {
  font-family: "Kochi Mincho", "東風明朝";
}
.mobile .chinese {
  font-family: "Hiragino Mincho ProN";
}
.chinese {
  font-size: 30px;
}
.decomposition {
  display: inline-block;
  font-size: 18px;
}
ul {
  display: inline-block;
  text-align: left;
  padding-left: 1.5em;
}
.reading {
  font-size: 20px;
}
.meaning {
  font-size: 16px;
  display: none;
}
.comment {
  font-size: 15px;
  color: grey;
}
.tags {
  color: gray;
  text-align: right;
  font-size: 10pt;
}
.note {
  color: gray;
  font-size: 12pt;
  margin-top: 20pt;
}
.hint {
  font-size: 12pt;
}
.answer {
  background-color: bisque;
  border: dotted;
  border-width: 1px;
}

.tone1 {
  color: red;
}
.tone2 {
  color: orange;
}
.tone3 {
  color: green;
}
.tone4 {
  color: blue;
}
.tone5 {
  color: gray;
}
